
b{
  color:#8dc63f;
}
.one{
  display: flex;
}
p{
  color: rgb(68, 63, 63);
}
.third{
  padding: 34px;
  margin: 23px;
}

.color{
  color: #0b5fdd;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
h2{
  font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji ;
}
.sec{

  padding: 20px;
}
